body {
    background-color: none transparent;
    margin: 0;
    padding: 0;
}

#clock {
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border: 7px solid black;
    border-radius: 100%;
    height: 250px;
    margin: 7px auto;
    position: relative;
    width: 250px;
}

#clock .overlay {
    background-image: url('clock.png');
    background-size: 100% 100%;
    border-radius: 100%;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1004;
}

#clock .background {
    background-color: #fefefe;
    background-image: url('gnu_tux2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% auto;
    border-radius: 100%;
    height: 100%;
    position: absolute;
    width: 100%;
}

#clock .axis {
    background-color: black;
    border-radius: 100%;
    height: 11px;
    left: calc(50% - 5.5px);
    position: absolute;
    top: calc(50% - 5.5px);
    width: 11px;
    z-index: 1003;
}

#clock .hand {
    border-radius: 10px;
    bottom: 0;
    box-shadow: 2px 2px 1px rgba(0,0,0,.2);
    position: absolute;
    transform-origin: bottom;
}

#clock .hour {
    height: 50%;
    left: 50%;
    position: absolute;
    width: 50%;
    z-index: 1001;
}

#clock .minute {
    height: 50%;
    left: 50%;
    position: absolute;
    width: 50%;
    z-index: 1002;
}

#clock .second {
    height: 50%;
    left: 50%;
    position: absolute;
    width: 50%;
}

#clock .hour .hand {
    background-color: black;
    height: 60%;
    width: 5px;
}

#clock .minute .hand {
    background-color: #222;
    height: 80%;
    width: 3px;
}

#clock .second .hand {
    background-color: red;
    height: 80%;
    width: 3px;
} 
